<main>
  <nav>
    <h1>
      <ruby>上手<rt>じょうず</rt></ruby>
    </h1>

    <p-button
      size="large"
      [icon]="this.themeService.isDarkMode() ? PrimeIcons.SUN : PrimeIcons.MOON"
      (onClick)="this.themeService.toggleDarkMode()"
    />
  </nav>

  <div>
    <x-card
      header="かな・カナ"
      divider
      [tooltip]="{
        text: 'kana',
        options: romanizeTooltip,
      }"
    >
      @for (
        kana of [
          {
            name: "ひらがな",
            selected: hiraganaSelected(),
          },
          {
            name: "カタカナ",
            selected: katakanaSelected(),
          },
        ];
        track kana.name
      ) {
        <section>
          <h3 [pTooltip]="romanize(kana.name)" [tooltipOptions]="romanizeTooltip">{{kana.name}}</h3>
          <fieldset class="char-table">
            @for (selected of kana.selected; track selected.i) {
              <p-checkbox
                [binary]="true"
                [ngModel]="selected.row.partial"
                [checkboxIcon]="selected.row.fully ? PrimeIcons.CHECK : PrimeIcons.MINUS"
                (click)="toggleRow(selected.row.chars, selected.row.fully)"
                readonly
              />
              @for (char of selected.row.chars; track char.j) {
                @if (char.char) {
                  <p-togglebutton
                    [onLabel]="char.char"
                    [offLabel]="char.char"
                    [ngModel]="char.selected"
                    (onChange)="toggleCharacter(char.char)"
                    [pTooltip]="char.romaji ?? undefined"
                    [tooltipOptions]="romanizeTooltip"
                  />
                } @else {
                  <div></div>
                }
              }
            }
          </fieldset>
        </section>
      }
    </x-card>
  </div>
</main>
