<main>
  <x-nav />

  <div>
    <x-card
      header="かな・カナ"
      divider
      [tooltip]="{
        text: 'kana',
        options: romanizeTooltip,
      }"
    >
      @for (kana of kanaGroups(); track kana.name) {
        <section>
          <h3 [pTooltip]="kana.name | romanize" [tooltipOptions]="romanizeTooltip">
            {{ kana.name }}
          </h3>
          <fieldset class="char-table">
            @for (selected of kana.selected; track selected.i) {
              <p-checkbox
                [binary]="true"
                [ngModel]="selected.row.fully"
                [indeterminate]="selected.row.partial && !selected.row.fully"
                (onChange)="toggleRow(selected.row.chars, selected.row.fully)"
              />
              @for (char of selected.row.chars; track char.j) {
                @if (char.char) {
                  <p-togglebutton
                    [ariaLabel]="char.romaji ? char.char + ' ' + char.romaji : char.char"
                    [onLabel]="char.char"
                    [offLabel]="char.char"
                    [ngModel]="char.selected"
                    (onChange)="toggleCharacter(char.char)"
                    [pTooltip]="char.romaji ?? undefined"
                    [tooltipOptions]="romanizeTooltip"
                  />
                } @else {
                  <div></div>
                }
              }
            }
          </fieldset>
        </section>
      }
      <div id="kana-extra-toggles">
        @for (item of kanaExtraToggles; track item.icon) {
          <p-togglebutton
            [pTooltip]="item.tooltip"
            [tooltipOptions]="romanizeTooltip"
            [(ngModel)]="item.signal"
          >
            @for (state of togglebuttonIconStates; track state) {
              <ng-template [pTemplate]="state">
                <svg-icon
                  style="height: 32px"
                  [src]="'/assets/icons/' + item.icon + '.svg'"
                  [svgStyle]="{ 'width.px': 40, 'height.px': 32, fill: 'currentColor' }"
                />
              </ng-template>
            }
          </p-togglebutton>
        }
      </div>

      <p-button
        id="start-button"
        routerLink="/kana"
        pTooltip="start"
        [tooltipOptions]="romanizeTooltip"
      >
        <span>スタート</span>
      </p-button>
    </x-card>
  </div>
</main>