@font-face {
  font-family: "Noto Sans JP Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url("@fontsource-variable/noto-sans-jp/files/noto-sans-jp-115-wght-normal.woff2")
    format("woff2-variations");
  unicode-range: U+7c, U+3080, U+4ee5, U+5148, U+516c, U+521d, U+5225, U+529b,
    U+52a0, U+53ef, U+56de, U+56fd, U+5909, U+591a, U+5b66, U+5b9f, U+5bb6,
    U+5bfe, U+5e73, U+5e83, U+5ea6, U+5f53, U+6027, U+610f, U+6210, U+6240,
    U+660e, U+66f4, U+66f8, U+6709, U+6771, U+697d, U+69d8, U+6a5f, U+6c34,
    U+6cbb, U+73fe, U+756a, U+7684, U+771f, U+793a, U+7f8e, U+898f, U+8a2d,
    U+8a71, U+8fd1, U+9078, U+9577, U+96fb, U+ff5e;
}

@font-face {
  font-family: "Noto Sans JP Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url("@fontsource-variable/noto-sans-jp/files/noto-sans-jp-119-wght-normal.woff2")
    format("woff2-variations");
  unicode-range: U+20, U+2027, U+3001-3002, U+3041-307f, U+3081-308f, U+3091-3093,
    U+3099-309a, U+309d-309e, U+30a1-30e1, U+30e3-30ed, U+30ef-30f0, U+30f2-30f4,
    U+30fb-30fe, U+ff0c, U+ff0e;
}

@font-face {
  font-family: "Noto Sans JP Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url("@fontsource-variable/noto-sans-jp/files/noto-sans-jp-116-wght-normal.woff2")
    format("woff2-variations");
  unicode-range: U+a9, U+3010-3011, U+30e2, U+4e0b, U+4eca, U+4ed6, U+4ed8,
    U+4f53, U+4f5c, U+4f7f, U+53d6, U+540d, U+54c1, U+5730, U+5916, U+5b50,
    U+5c0f, U+5f8c, U+624b, U+6570, U+6587, U+6599, U+691c, U+696d, U+6cd5,
    U+7269, U+7279, U+7406, U+767a-767b, U+77e5, U+7d04, U+7d22, U+8005,
    U+80fd, U+81ea, U+8868, U+8981, U+89a7, U+901a, U+9023, U+90e8, U+91d1,
    U+9332, U+958b, U+96c6, U+9ad8, U+ff1a, U+ff1f;
}

@font-face {
  font-family: "Noto Sans JP Variable";
  font-style: normal;
  font-display: block;
  font-weight: 100 900;
  src: url("@fontsource-variable/noto-sans-jp/files/noto-sans-jp-117-wght-normal.woff2")
    format("woff2-variations");
  unicode-range: U+4e, U+a0, U+3000, U+300c-300d, U+4e00, U+4e0a, U+4e2d,
    U+4e8b, U+4eba, U+4f1a, U+5165, U+5168, U+5185, U+51fa, U+5206, U+5229,
    U+524d, U+52d5, U+5408, U+554f, U+5831, U+5834, U+5927, U+5b9a, U+5e74,
    U+5f0f, U+60c5, U+65b0, U+65b9, U+6642, U+6700, U+672c, U+682a, U+6b63,
    U+6c17, U+7121, U+751f, U+7528, U+753b, U+76ee, U+793e, U+884c, U+898b,
    U+8a18, U+9593, U+95a2, U+ff01, U+ff08-ff09;
}
