:host {
  display: grid;

  height: fit-content;
  width: fit-content;
  min-width: 8rem;
  padding: var(--padding);

  background-color: var(--card);
  border-color: var(--border);
  border-width: 1px;
  border-radius: var(--radius);

  box-shadow: var(--shadow-lg);

  h2 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }
}