main {
  padding: var(--padding);
}

main > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

main > nav > h1 {
  margin: 0;
}

main > div {
  width: 100%;
  display: grid;
  justify-content: center;
}

main > div > x-card {
  width: 100%;
  min-width: 32rem;
}

:host ::ng-deep {
  x-card > .content {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: center;
  
    section {
      padding: var(--padding);
      h3 {
        margin-top: 0;
      }
    }
  }
}

::ng-deep .romanize-tooltip.p-tooltip {
  font-weight: 900;

  .p-tooltip-text {
    padding: 0.15rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  }
}


/* section > x-card:nth-child(odd) {
  justify-self: right;
}

section > x-card:nth-child(even) {
  justify-self: left;
} */

