.menuitem > a.menuitem-normal {
  display: block;
}
.menuitem > a.menuitem-hovered {
  display: none;
}

.menuitem:hover > a.menuitem-normal {
  display: none;
}
.menuitem:hover > a.menuitem-hovered {
  display: block;
}