main {
  padding: var(--padding);
}

main > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

main > nav > h1 {
  margin: 0;
}

main > div {
  width: 100%;
  display: grid;
  justify-content: center;
}

main > div > x-card {
  width: 100%;
  min-width: 32rem;
}

:host ::ng-deep {
  x-card > .content {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    justify-items: center;
    section {
      display: grid;
      justify-items: center;

      h3 {
        text-align: center;
      }
    }
  }
}

::ng-deep .romanize-tooltip {
  font-weight: var(--bold);

  /* .p-tooltip-text {
    padding: 0.15rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
  } */
}

:host {
  --grid-gap: calc(var(--spacing));
}

fieldset.char-table {
  margin-top: var(--padding);
  margin-right: var(--padding);
  display: grid;
  grid-template-columns: 32px repeat(5, 1fr);
  align-items: center;
  justify-items: start;

  row-gap: var(--spacing);

  ::ng-deep {
    .char-toggle {
      font-weight: var(--bold);
    }
    
    p-togglebutton:has(+ p-togglebutton) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
    p-togglebutton + p-togglebutton {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }
}