<main>
  <nav>
    <h1>
      <ruby>上手<rt>じょうず</rt></ruby>
    </h1>

    <p-button
      size="large"
      [icon]="this.themeService.isDarkMode() ? PrimeIcons.SUN : PrimeIcons.MOON"
      (onClick)="this.themeService.toggleDarkMode()"
    />
  </nav>

  <div>
    <x-card
      header="かな・カナ"
      divider
      [tooltip]="{
        text: 'kana',
        options: romanizeTooltip,
      }"
    >
      <section>
        <h3 pTooltip="hiragana" [tooltipOptions]="romanizeTooltip">ひらがな</h3>

        <fieldset class="character-table">
          @for (characterRow of hiragana; track characterRow.i) {
            <p-checkbox  class="character-row-checkbox" />
            <div class="character-table-row">
              @for (character of characterRow.row; track character.j) {
                @if (character.char) {
                  <p-togglebutton class="character-toggle" [onLabel]="character.char" [offLabel]="character.char" />
                } @else {
                  <div></div>
                }
              }
            </div>
          }
        </fieldset>
        <!-- Add hiragana character list -->
      </section>
      <p-divider layout="vertical" />
      <section>
        <h3 pTooltip="katakana" [tooltipOptions]="romanizeTooltip">カタカナ</h3>
      </section>
    </x-card>
  </div>
</main>

<p-toast />
