/* Global styles */

body {
  min-height: 100vh;
}

* {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* Fonts */

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/noto-sans-jp/400.css";
@import "@fontsource/noto-sans-jp/600.css";

:root {
  --p-font-family: "Inter", "Noto Sans JP", sans-serif;
}

body {
  font-family: var(--p-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PrimeNG Classes */
@import "primeicons/primeicons.css";

:root {
  /* --- Content & Layout Backgrounds --- */
  --bg-content: var(--p-content-background);
  --bg-content-hover: var(--p-content-hover-background);

  /* --- Form Inputs & Deep Backgrounds --- */
  --bg-input: var(--p-form-field-background);

  /* --- Typography --- */
  --text-main: var(--p-text-color, #18181b);
  --text-muted: var(--p-text-muted-color);

  /* --- Borders & Dividers --- */
  --border-color: var(--p-content-border-color);
  --border-width: 1px;
  --border-radius: 12px;

  /* --- Padding and Margin --- */
  --separation: 2rem;

  /* --- Selections & Highlights --- */
  --bg-highlight: var(--p-highlight-background);
  --text-highlight: var(--p-highlight-color);
  --shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1);

  /* --- Brand Colors --- */
  --primary: var(--p-primary-color);
  --primary-contrast: var(--p-primary-contrast-color);
}