:host main {
  padding: var(--padding);

  > #main-content {
    width: 60vw;
    height: 40vh;
    margin-top: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
}

:host ::ng-deep {
  x-card > .content {
    margin-left: auto;
    margin-right: auto;

    h1.kana-word {
      text-align: center;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      font-size: 4rem;

      .kana-char {
        display: inline-grid;
        align-items: center;
        
        .kana-base {
          
        }
  
        .kana-reading {
          display: inline-flex;
          justify-content: center;
          
          margin-top: 1rem;
          font-size: 0.75em;
          
          .kana-stack {
            display: inline-grid;

            .kana--shown {
              opacity: 0.5;
            }
          }
        }
      }



      /* .ruby-stack {
        display: inline-grid;
        grid-template-rows: 32px 64px 32px;
        justify-items: center;
        align-items: center;
        vertical-align: middle;
      } */

      /* .ruby-stack {
        display: grid;
        grid-template-rows: 32px 64px 32px;
      }

      .ruby-base {
        font-size: 1em;
        margin-top: 1rem;
        margin-bottom: 1rem;
      } */

      /* .ruby-furigana,
      .romaji {
        font-size: 0.5em;
        margin-top: 2rem;
      }

      .ruby-furigana--shown {
        opacity: 0.8;
      } */
    }

    .kana-input {
      width: 100%;
      min-width: 0;
      box-sizing: border-box;
      text-align: center;
      padding-inline: 0;
    }
  }
}
