<main>
  <x-nav />

  <div id="main-content">
    @if (currentWordDisplay(); as current) {
      <x-card>
        <h1 class="kana-word">
          @for (char of current; track $index) {
            <div class="kana-char">
              <span class="kana-base">
                {{ char.char }}
              </span>
              <div class="kana-reading">
                @for (reading of char.reading; track $index) {
                  @let selected = reading.romaji === null;
                  <div class="kana-stack">
                    <span class="kana-furigana" [class.kana--shown]="!selected">{{ reading.kana }}</span>
                    <span class="kana-romaji" [class.kana--shown]="!selected">
                      @if (selected) {
                        _
                      } @else {
                        {{ reading.romaji }}
                      }
                    </span>
                  </div>
                }
              </div>
            </div>
          }
        </h1>
      </x-card>
    } @else {
      <p-skeleton width="100%" height="100%" />
    }
  </div>
</main>
