:host main {
  padding: var(--padding);

  > #main-content {
    width: 60vw;
    height: 40vh;
    margin-top: var(--padding);
    margin-left: auto;
    margin-right: auto;
  }
}

:host ::ng-deep {
  x-card > .content {
    margin-left: auto;
    margin-right: auto;

    h1.kana-word {
      text-align: center;
      width: 100%;
      margin: 0;
      margin-bottom: 1rem;
      font-size: 4rem;

      .kana-char {
        display: inline-grid;
        align-items: center;
        
        .kana-base {
          
        }
  
        .kana-reading {
          display: inline-flex;
          justify-content: center;
          
          margin-top: 1rem;
          font-size: 0.75em;
          
          .kana-stack {
            display: inline-grid;

            .kana--shown {
              opacity: 0.5;
            }

            .kana-caret {
              display: inline-block;
              width: 0;
              height: 1em;
              border-left: 0.08em solid currentColor;
              vertical-align: -0.1em;
              animation: kana-caret-blink 2s steps(1) infinite;
              @keyframes kana-caret-blink {
                50% {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
