<main>
  <x-nav />

  <div id="main-content">
    @if (words.hasValue() && currentWord(); as current) {
      <x-card>
        <h1 fitText class="kana-word">
          @for (char of current.chars; track $index) {
            <div style="display: inline-grid">
              <span class="ruby-base">
                {{ char.word }}
              </span>
              <div style="display: grid">
                @for (kana of char.reading; track $index) {
                  <!-- @let currentRomaji = currentWordRomaji()[$index]; -->
                  <span class="ruby-furigana">{{ kana }}</span>
                  <span class="romaji">
                    {{ current.romanization[$index] }}
                  </span>
                }
              </div>
            </div>

            <!-- <span class="ruby-furigana" [class.ruby-furigana--shown]="currentRomaji !== '_'">
                @if (char.word !== char.reading[0]) {
                  {{ char.reading.join("") }}
                }
              </span> -->
          }
        </h1>
      </x-card>
    } @else {
      <p-skeleton width="100%" height="100%" />
    }
  </div>
</main>
