<main>
  <x-nav />

  <div id="main-content">
    @if (currentWordDisplay(); as current) {
      <x-card>
        <h1 class="kana-word">
          @for (char of current; track $index) {
            <div class="kana-char">
              <span class="kana-base">
                {{ char.char }}
              </span>
              <div class="kana-reading">
                @for (reading of char.reading; track $index) {
                  <div class="kana-stack">
                    @if (reading.selectedValueIdx === null) {
                      <span class="kana-furigana kana--shown">
                        {{ reading.kana }}
                      </span>
                      <span class="kana-romaji kana--shown">
                        {{ reading.romaji }}
                      </span>
                    } @else {
                      @let i = reading.selectedValueIdx;
                      @let focused = selectedKanaInputFocused() === i;
                      @let color = focused ? "var(--primary)" : undefined;
                      <x-kana-game-input
                        #input
                        [(value)]="selectedKanaValues()[i]"
                        [expectedValue]="reading.kana | romanize"
                        [focused]="focused"
                        (back)="goPrevInput()"
                        (next)="goNextInput()"
                      />
                      <span class="kana-furigana" [style.color]="color">
                        {{ reading.kana }}
                      </span>
                      @let selectedKanaValue = selectedKanaValues()[i];
                      <span class="kana-romaji" [style.color]="color">
                        @if (selectedKanaValue) {
                          @let caret = input.caretPosition();
                          <span>{{ selectedKanaValue.slice(0, caret) }}</span>
                          @if (focused) { <span class="kana-caret"></span> }
                          <span>{{ selectedKanaValue.slice(caret) }}</span>
                        } @else {
                          _
                        }
                        <span></span>
                      </span>
                    }
                  </div>
                }
              </div>
            </div>
          }
        </h1>
      </x-card>
    } @else {
      <p-skeleton width="100%" height="100%" />
    }
  </div>
</main>
